* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

/* elementi inline-block */
.inline-block{
    display: inline-block;
    vertical-align: middle;
}


/* header */
header{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

main{
    padding-left: 20%;   
    padding-right: 20%;   
}

/* container */
.container {
   background-color: white;
   margin-top: 60px;    
   padding-top: 20px;
   padding-left: 50px;
   border-radius: 30px;
   padding-bottom: 60px;
   font-family: 'Roboto', sans-serif;
}

/* bottoni */
button {
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px ;
    margin-bottom: 10px;
}

.on{
    background-color: #45abea;
    color: white;
    border: none;
}

.off{
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

/* lista */
ul{ 
    list-style-type: none;    
}

.check{    
    color: green;
    border: 2px green solid; 
    border-radius: 50%;
}

.cross{
    color:  red;
    border: 2px red solid; 
    border-radius: 50%;
}

.box{ 
    border-radius: 10px;
    padding: 10px;
}

.editorial{
    background-color: #45abea;
}

.q1{
    background-color: blueviolet;
}

.recruiting{
    background-color: aquamarine;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: goldenrod;
}

li{
    margin: 10px;
}