/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

/* elementi inline-block */
.inline-block{
    display: inline-block;
    vertical-align: middle;
}


/* header */
header{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
   
}

main{
    padding-left: 20%;   
    padding-right: 20%;   
}

/* container */
.container {
   background-color: white;
   margin-top: 60px;    
   border-radius: 30px;
   padding-bottom: 60px;
}

/* bottoni */
.bottoni{
    padding-top: 20px;
    padding-left: 50px;
}

button {
    border: none;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px ;
    margin-bottom: 10px;
}

.on{
    background-color: #45abea;
    color: white;
    border: 1px solid #45abea;
}

.off{
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}

/* lista */
.lista{
    padding-top: 20px;
   padding-left: 50px;
}

ul{ 
    list-style-type: none;    
}

.check{
    padding-left: 5px;
    width: 25px;
    height: 25px;  
    color: green;
    border: 2px green solid; 
    border-radius: 50%;
}

.cross{
    padding-left: 5px;
    width: 25px;
    height: 25px;  
    color:  red;
    border: 2px red solid; 
    border-radius: 50%;
}

.box{
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.editorial{
    background-color: #45abea;
}

.q1{
    background-color: blueviolet;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: goldenrod;
}

li{
    margin: 10px;
}